.footer {
    display: grid;
    align-items: center;
    background-color: var(--color-the-end);
    color: var(--color-white);
}

.footer_content {
    max-width: 1721px;
    padding: 0 10px;
    margin: 0 auto;
}

.content_f-info-box {
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: start;
    margin: 100px 0;
    gap: 165px;
}

.info-box_items {
    display: grid;
    grid-template-rows: repeat(2,auto);
    gap: 29px;
}

.items_title {
    font-size: 64px;
    font-weight: 700;
}

.items_list-place {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 68px;
}

.list-place-list {
    display: grid;
    grid-template-rows: repeat(3,auto);
    gap: 20px;
    max-width: 270px;
}

.term {
    font-size: 20px;
    font-weight: 600;
}

.definition {
    font-size: 16px;
    font-weight: 500;
}

.content_contacts-data {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 376px;
    align-items: end;
    margin-bottom: 100px;
}

.contacts-data_social-net-list {
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}

.contacts-data_doc-list {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 1714px) { /* Для ноутбука */
    .content_contacts-data {
        display: grid;
        grid-template-columns: 350px;
        gap: 50px;
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 768px) { /* Для планшетов и смартфонов */
    .content_f-info-box {
        grid-template-columns: auto;
        margin: 50px 0;
    }

    .items_title {
        font-size: 55px;
    }

    .info-box_logo {
        display: none;
    }

    .contacts-data_doc-list {
        grid-template-columns: auto;
        gap: 20px;
        font-size: 14px;
    }

    .definition {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) { /* Только для мобильных устройств */
    .items_title {
        font-size: 45px;
    }

    .list-place-list {
        gap: 5px;
    }
}