.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.header {
    background-image: url(/public/image/header/header-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 80px;
    margin-bottom: 150px;
}

.header_content {
    max-width: 1721px;
    padding: 0 10px;
    margin: 0 auto;
}

.content_top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 46%;
    align-items: center;
    padding: 50px 0 33px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
}

#burger_icon {
    display: none; 
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.burger-icon_line {
    display: none;
    height: 6px;
    width: 60px;
    border-radius: 30px;
    background-color: var(--color-china-seas);
}

.navbar_menu {
    display: grid;
    grid-template-columns: repeat(6,auto);
    align-items: center;
    gap: 41px;
    color: var(--color-china-seas);
}

.top_phone-number {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--color-china-seas);
    color: var(--color-white);
    border-radius: 30px;
}

.content_title-img {
    position: relative;
    z-index: -1;
    width: 100%;
    margin-bottom: 18px;
}

.content_adress {
    display: inline-block;
    width: auto;
    max-width: 100%;
    padding: 10px 20px;
    background-color: var(--color-the-end);
    color: var(--color-white);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}

.content_middle {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
    gap: 750px;
}

.t-list_menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 10px;
    margin-top: 100px;
}

.tags_t-button {
    display: grid;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--color-china-seas);
    border: solid 1px var(--color-china-seas);
    border-radius: 30px;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 20px;
}

.middle_info-card {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: var(--color-white-80);
    padding: 50px 20px;
    font-weight: 700;
    color: var(--color-the-end);
    margin-bottom: 103px;
}

.info-card_text-box {
    display: grid;
    justify-items: left;
}

.text-box_title {
    font-size: 32px;
}

.text-box_date {
    font-size: 32px;
    margin-bottom: 10px;
}

.text-box_link {
    text-decoration: underline 1px var(--color-the-end);
    font-size: 16px;
    margin-bottom: 30px;
}

.content_bottom {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
    gap: 900px;
}

.contacts_list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}

.bottom_button-place {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    font-size: 32px;
    font-weight: 700;
}

.button-place_book-button {
    background-color: var(--color-the-end);
    color: var(--color-white);
    border-radius: 30px;
    padding: 10px 20px;
}

.button-place_activities-button {
    background: transparent;
    color: var(--color-the-end);
    border: solid 1px var(--color-the-end);
    border-radius: 30px;
    padding: 10px 20px;
}

.item_a:hover {
    transition: 0.5s;
    color: var(--color-the-end);
}

.top_phone-number:hover {
    transition: 0.5s;
    background-color: var(--color-nice-blue);
}

.content_adress:hover {
    transition: 0.5s;
    background-color: var(--color-china-seas);
}

.tags_t-button:hover {
    transition: 0.5s;
    color: var(--color-white);
    background-color: var(--color-china-seas);
}

.button-place_book-button:hover {
    transition: 0.5s;
    background-color: var(--color-white);
    color: var(--color-the-end);
    border: solid 1px var(--color-the-end);
    padding: 10px 30px;
}

.button-place_activities-button:hover {
    transition: 0.5s;
    color: var(--color-white);
    background-color: var(--color-china-seas);
}

@media screen and (max-width: 1714px) { /* Для ноутбука */
    .content_top {
        gap: 38%;
    }

    .top_phone-number {
        max-width: 230px;
    }

    .content_middle {
        justify-content: center;
        grid-template-columns: auto;
        gap: 200px;
    }

    .info-card_text-box {
        justify-items: center;
    }

    .text-box_title {
        text-align: center;
        margin-bottom: 20px;
    }

    .content_bottom {
        justify-items: center;
        grid-template-columns: auto;
        gap: 50px;
        grid-template-areas:
        'buttons'
        'contacts';
    }

    .contacts_list {
       grid-area: contacts;
    }

    .bottom_button-place {
        grid-area: buttons;
    }
}

@media screen and (max-width: 1470px) { /*Верхнее меню*/
    .content_top {
        gap: 28%;
    }
}

@media screen and (max-width: 1050px) { /*Верхнее меню*/
    .content_top {
        gap: 15%;
    }
}

@media screen and (max-width: 768px) { /* Для планшетов и смартфонов */
    .header {
        margin-bottom: 100px;
    }
    .content_top {
        gap: 55%;
        margin-bottom: 60px;
    }

    #burger-icon {
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 5px;
    }

    .burger-icon_line {
        display: block;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        background-color: var(--color-white);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        opacity: 0;
        visibility: hidden;
    }

    .top_phone-number {
        max-width: 200px;
        padding: 10px 16px;
    }

    .content_adress {
        font-size: 18px; 
        padding: 10px 16px; 
    }

    .content_middle {
        gap: 100px;
    }

    .t-list_menu {
        row-gap: 20px;
    }

    .tags_t-button {
        font-size: 18px;
        padding: 10px 16px;
    }

    .bottom_button-place {
        font-size: 25px;
    }

    .button-place_book-button {
        padding: 10px 16px;
    }

    .button-place_activities-button {
        padding: 10px 16px;
    }
}

@media screen and (max-width: 480px) { /* Только для мобильных устройств */
    .content_top {
        gap: 100px;
    }
}