.quote {
    display: grid;
    align-items: center;
    max-width: 1721px;
    padding: 0 10px;
    margin: 0 auto 150px;
}

.quote_text {
    font-size: 64px;
    font-weight: 700;
    max-width: 1180px;
}

@media screen and (max-width: 1714px) { /* Для ноутбука */
    .quote_text {
        font-size: 55px;
    }
}

@media screen and (max-width: 768px) { /* Для планшетов и смартфонов */
    .quote {
        margin: 0 auto 100px;
    }

    .quote_text {
        font-size: 45px;
    }
}
