/* Убираем стандартный фокус и добавляем фокус с клавиатуры. */

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed #ffffff;
  outline-offset: 1px;
}

/* Обнуляем отступы и границы. */

* {
  padding: 0;
  border: 0;
  margin: 0;
}

/* Применяем box-sizing. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Делаем блочными все HTML5-элементы. */

article,
aside,
audio,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
summary {
  display: block;
}

/* Базовые стили для <body> и <html>. */

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-white);
  font-family: var(--font-family-system);
  line-height: 1.3;
  font-size: 16px;
  font-weight: 600;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

html {
  font-size: 100%; 
  box-sizing: border-box; 
  position: relative;
  overflow: hidden scroll;
  height: 100%;
}

/* Стилизация полосы прокрутки. */

body::-webkit-scrollbar {
  width: 15px;
}

/* Резервируем место под скроллбар. */

html,
body {
  scrollbar-gutter: stable;
}

/* Блокировка прокрутки при открытом модальном окне. */

body.lock {
  overflow: hidden;
}

/* Настраиваем стили кавычек. */

body {
  quotes: '«' '»' '„' '“';
}

.quoteInside::before {
  content: open-quote;
}

.quoteInside::after {
  content: close-quote;
}

/* Убираем рамку у fieldset. */

fieldset {
  border: none;
}

/* Убираем рамку у dialog. */

dialog {
  border: none;
}

/* Убираем маркеры списков. */

ul,
ol,
menu {
  list-style: none;
}

/* Наследуем шрифты для интерактивных элементов. */

input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем системный стиль у поиска. */

input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
}

/* Разрешаем изменение размера textarea. */

textarea {
  resize: vertical;
  overflow: auto;
}

/* Убираем системный стиль у select. */

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

/* Настройки кнопок по умолчанию. */

button {
  cursor: pointer;
  user-select: none;
}

/* Волнистое подчёркивание для <u>. */

u {
  text-decoration-style: wavy;
}

/* Обозначаем <mark> для скринридеров. */

mark::before {
  content: ' [начало выделения] ';
}

mark::after {
  content: ' [конец выделения] ';
}

/* Разделитель для <dt>. */

dt::after {
  content: ': ';
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

b,
strong {
  font-weight: bolder;
}

[hidden] {
  display: none;
}

